src/main/resources/service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="apiOperationsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREATE"></xs:enumeration>
			<xs:enumeration value="READ"></xs:enumeration>
			<xs:enumeration value="UPDATE"></xs:enumeration>
			<xs:enumeration value="DELETE"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
    <xs:simpleType name="apiOperationsListType">
        <xs:list itemType="apiOperationsType"/>
    </xs:simpleType>
    
	<xs:simpleType name="collectionsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="list"></xs:enumeration>
			<xs:enumeration value="set"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="dataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="boolean" />
            <xs:enumeration value="enum" />
         	<xs:enumeration value="int" />
            <xs:enumeration value="long" />
            <xs:enumeration value="float" />
            <xs:enumeration value="double" />
            <xs:enumeration value="string" />
            <xs:enumeration value="localdate" />
            <xs:enumeration value="localtime" />
        </xs:restriction>
    </xs:simpleType>
        
	<xs:simpleType name="relationshipType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="one_to_one"></xs:enumeration>
			<xs:enumeration value="one_to_many"></xs:enumeration>
			<xs:enumeration value="many_to_one"></xs:enumeration>
			<xs:enumeration value="many_to_many"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:attribute name="abstract" type="xs:boolean"/>
	<xs:attribute name="bidirectional" type="xs:boolean"/>
	<xs:attribute name="collection" type="collectionsType" />
	<xs:attribute name="db-name" type="xs:string"/>
	<xs:attribute name="entity" type="xs:string" />
	<xs:attribute name="enum-class" type="xs:string" />
	<xs:attribute name="enum-values" type="xs:string" />
	<xs:attribute name="mapped-by" type="xs:string"/>
	<xs:attribute name="name" type="xs:string"/>
	<xs:attribute name="owner" type="xs:boolean"/>
	<xs:attribute name="package" type="xs:string"/>
	<xs:attribute name="parent" type="xs:string"/>
	<xs:attribute name="persistence" type="xs:boolean"/>
	<xs:attribute name="relationship" type="relationshipType"/>
	<xs:attribute name="type" type="dataType"/>
	 
	<xs:element name="attribute">
		<xs:complexType>
			<xs:attribute ref="name" use="required"/>
			<xs:attribute ref="db-name"/>
			<xs:attribute ref="type" use="required"/>
			<xs:attribute ref="enum-class" use="optional"/>
			<xs:attribute ref="enum-values" use="optional"/>
			<!-- HWC XML 1.1 that isn't currently primetime in java 
			<xs:assert test="not(@type = 'enum') or (@enum-class or @enum-values)"/>
			-->
		</xs:complexType>
	</xs:element>
	
	<xs:element name="finder-attribute">
		<xs:complexType>
			<xs:attribute ref="name"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="finder" >
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="finder-attribute" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="unique" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="related">
		<xs:complexType>
			<xs:attribute ref="name" use="required"/>
			<xs:attribute ref="entity" use="required"/>
			<xs:attribute ref="collection"/>
			<xs:attribute ref="relationship" use="required"/>
			<xs:attribute ref="bidirectional" />
			<xs:attribute ref="owner" />
			<xs:attribute ref="mapped-by" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="internal">
		<xs:complexType>
			<xs:attribute name="operations" type="apiOperationsListType" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="external">
		<xs:complexType>
			<xs:attribute name="operations" type="apiOperationsListType" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<!-- New API element which is optional -->
	<xs:element name="api">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="internal" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="external" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="entity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attribute" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="related" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="finder" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="api" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			
			<xs:attribute ref="name" use="required"/>
			<xs:attribute ref="db-name"/>
			<xs:attribute ref="abstract" />
			<xs:attribute ref="parent" />
			<xs:attribute ref="persistence" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="service">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
			
			<xs:attribute ref="name" use="required"/>
			<xs:attribute ref="package" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>